:root {
    --color-primary: #515ae0;
    --color-secondary: #fbf9f5;
    --color-tertiary: #5e7ce9;
    --color-button: #5e7ce9;
    --color-button-hover: #8f95df;
    --color-text: #040404;
    --color-white: #000000;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to top, var(--color-primary) 50%, #f6f5f4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
}

/* Banner */
.header-banner {
    flex: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background: linear-gradient(to bottom, var(--color-secondary), #b7b6b3);
    border: 1px solid #575757ac;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: #000000ef 0 0 15px;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Galindo", serif;
    font-weight: 900;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.section-title {
    font-family: "Londrina Solid", serif;
    font-size: 39px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    font-family: "Merriweather", serif;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.549);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 1px solid #ffffff3a;
    border-radius: 25px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.549);
    cursor: pointer;
    transition: background-color 0.3s ease;  
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.551);
    transition: background-color 0.3s ease;  
}

.button-add:hover {
    background-color: #048bfa;
}

/* Estilo do botão de ocultar resultado */
.hide-button {
    margin-top: 20px;  
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 25px; 
    background-color: #000000; 
    color: white; 
    border: none;  
    cursor: pointer;  
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.549); 
    transition: background-color 0.3s ease;  
}

.hide-button:hover {
    background-color: #d17b03;  
}

.button-clear {
    background-color: #7d80e6;
    width: 300px; 
    justify-content: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;  
}

.button-clear:hover {
    background-color: #958df8; 
}


/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Londrina Solid", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}

.result-list {
    margin-top: 15px;
    color: #0d13bb;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Responsividade 
Mobile */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-section {
        flex: none;
        width: 90%;
    }

    .header-banner {
        flex: none;
        width: 100%;
    }

    .main-title {
        font-size: 32px;
    }

    .section-title {
        font-size: 24px;
    }

    .input-wrapper {
        width: 100%;
    }

    .input-title {
        width: 100%;
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 10px 20px;
    }

    .button-container {
        width: 100%;
        justify-content: center;
    }

    .button-clear {
        width: 100%;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        width: 100%;
    }

    .input-section {
        flex: none;
        width: 80%;
    }

    .main-title {
        font-size: 40px;
    }

    .section-title {
        font-size: 30px;
    }

    .input-wrapper {
        width: 100%;
    }

    .input-title {
        font-size: 15px;
    }

    button {
        padding: 12px 25px;
    }

    .button-clear {
        padding: 12px 25px;

}

/* notebooks */
@media (min-width: 1025px) and (max-width: 1440px) {
    .main-content {
        flex-direction: row;
    }

    .input-section {
        flex: 60%;
    }

    .main-title {
        font-size: 48px;
    }

    .section-title {
        font-size: 39px;
    }

    button {
        padding: 15px 30px;
    }

    .button-clear {
        padding: 15px 30px;
    }
}}